<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appName</key>
	<string>例子</string>
	<key>workspace</key>
	<string>example.xcworkspace</string>
	<key>scheme</key>
	<string>example</string>
	<key>iconPath</key>
	<string>static/icon/example.png</string>
	<key>plistPaths</key>
	<array>
		<string>plistPath1</string>
		<string>plistPath2</string>
	</array>
	<key>Debug</key>
	<dict>
		<key>method</key>
		<string>development</string>
		<key>teamID</key>
		<string>teamID</string>
		<key>bundleID</key>
		<string>com.naisi.example</string>
		<key>provisioningProfiles</key>
		<dict>
			<key>com.naisi.example</key>
			<string>example_dev_pp_name</string>
			<key>com.naisi.example.NotificationServiceExtension</key>
			<string>example_ext_dev_pp_name</string>
		</dict>
	</dict>
	<key>AdHoc</key>
	<dict>
		<key>method</key>
		<string>ad-hoc</string>
		<key>teamID</key>
		<string>teamID</string>
		<key>bundleID</key>
		<string>com.naisi.example</string>
		<key>provisioningProfiles</key>
		<dict>
			<key>com.naisi.example</key>
			<string>example_ad_hoc_pp_name</string>
			<key>com.naisi.example.NotificationServiceExtension</key>
			<string>example_ext_ad_hoc_pp_name</string>
		</dict>
	</dict>
	<key>Release</key>
	<dict>
		<key>method</key>
		<string>app-store</string>
		<key>teamID</key>
		<string>teamID</string>
		<key>bundleID</key>
		<string>com.naisi.example</string>
		<key>provisioningProfiles</key>
		<dict>
			<key>com.naisi.example</key>
			<string>example_dist_pp_name</string>
			<key>com.naisi.example.NotificationServiceExtension</key>
			<string>example_ext_dist_pp_name</string>
		</dict>
	</dict>
	<key>Enterprise</key>
	<dict>
		<key>method</key>
		<string>enterprise</string>
		<key>teamID</key>
		<string>teamID</string>
		<key>bundleID</key>
		<string>com.naisi.exampleEntp</string>
		<key>provisioningProfiles</key>
		<dict>
			<key>com.naisi.exampleEntp</key>
			<string>example_entp_pp_name</string>
			<key>com.naisi.exampleEntp.NotificationServiceExtension</key>
			<string>example_ext_entp_pp_name</string>
		</dict>
	</dict>
</dict>
</plist>
